/client/.docker/ssl/*
!/client/.docker/ssl/.gitkeep

/target/
/client/target/

# docker
/.docker/env/*
!/.docker/env/.gitkeep
/.docker/ssh/*
!/.docker/ssh/.gitkeep

### STS ###
/.apt_generated
/.classpath
/.factorypath
/.project
/.settings
/.springBeans
/.sts4-cache

/client/.apt_generated
/client/.classpath
/client/.factorypath
/client/.project
/client/.settings
/client/.springBeans
/client/.sts4-cache

# Mac
/.DS_Store
/client/.DS_Store

### IntelliJ IDEA ###
/.idea
/*.iws
/*.iml
/*.ipr

/client/.idea
/client/*.iws
/client/*.iml
/client/*.ipr

# logs
/logs/*
!/logs/.gitkeep

/client/logs/*
!/client/logs/.gitkeep

# files
/files/*
!/files/.gitkeep

