<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Custom consent page - Consent required</title>

    <script>
        function cancelConsent() {
            alert("Create your own Cancel logic.")
        }
    </script>
</head>
<body>
<div class="container">
    <div class="row py-5">
        <h1 class="text-center text-primary">App permissions</h1>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>
                The application
                <span class="fw-bold text-primary" th:if="${clientId}" th:text="${clientId}">[client_id]</span>
                wants to access your account
                <span class="fw-bold" th:if="${principalName}" th:text="${principalName}">[principal_name]</span>
            </p>
        </div>
    </div>
    <div th:if="${userCode}" class="row">
        <div class="col text-center">
            <p class="alert alert-warning">
                You have provided the code
                <span class="fw-bold" th:text="${userCode}">[user_code]</span>.
                Verify that this code matches what is shown on your device.
            </p>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col text-center">
            <p>
                The following permissions are requested by the above app.<br/>
                Please review these and consent if you approve.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <form name="consent_form" method="post" action="/oauth2/authorize">
                <input type="hidden" name="client_id" th:value="${consentAttributes.clientId}">
                <!--<input type="hidden" name="response_type" th:value="${consentAttributes.responseType}">-->
                <input type="hidden" name="redirect_uri" th:value="${consentAttributes.redirectUri}">
                <input type="hidden" name="code" th:value="${consentAttributes.code}">
                <input type="hidden" name="state" th:value="${consentAttributes.state}">
                <input type="hidden" name="scope" th:value="${consentAttributes.scope}">
                <input type="hidden" name="consentRequestURI" th:value="${consentAttributes.consentRequestURI}">
                <input type="hidden" name="code_challenge" th:if="${consentAttributes.codeChallenge}" th:value="${consentAttributes.codeChallenge}">
                <input type="hidden" name="code_challenge_method" th:if="${consentAttributes.codeChallengeMethod}" th:value="${consentAttributes.codeChallengeMethod}">

                <div class="pt-3">
                    <button class="btn btn-primary btn-lg" type="submit" id="submit-consent">
                        Submit Consent
                    </button>
                </div>
                <div class="pt-3">
                    <button class="btn btn-link regular" type="button" id="cancel-consent" onclick="cancelConsent();">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col text-center">
            <p>
                <small>
                    Your consent to provide access is required.<br/>
                    If you do not approve, click Cancel, in which case no information will be shared with the app.
                </small>
            </p>
        </div>
    </div>
</div>
</body>
</html>
